<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>shiya</h2>
            <h4>shiyaa96@gmail.com</h4>

        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbaur4lJpEYfDzJDKiV8F2UfX80l39nm_qMXnf5BxyuDqVpu2ttgkPLc_CwZBICB03Hc&usqp=CAU" alt="no img">

    </div>
    <mat-divider></mat-divider>
    <h2 matsubheader>pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/card">gallery</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/table">Review</a>



    <mat-divider></mat-divider>
   <h2 matsubheader>Tools</h2>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
   </a>
   <!-- <div class="pages">
    <a routerLink="contact"><mat-icon>contats</mat-icon>Contact</a>

   </div> -->
   <a mat-list-item routerLinkActive="list-item-active" routerLink="lead">
    <mat-icon>contact_phone</mat-icon>
    Leads
   </a>


</mat-nav-list>
